* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    padding: 20px 0;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 2%;    
}

.logo {
    width: 50%;
}

.menu {
    padding-top: 30px;
    text-align: right;
    width: 50%;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

section.sobre {
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom:-500px;
    right:-550px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #017143;
}
