* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    padding: 20px 0;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 2%;    
}

.logo {
    width: 50%;
}

.menu {
    padding-top: 30px;
    text-align: right;
    width: 50%;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

section.sobre {
    height: calc(100% - 200px);
    position: relative;
}

.extras {
    position: absolute;
    bottom:-450px;
    right:-400px;
    width: 1120px;
    height: 1140px;
    border-radius: 50%;
    background-color: #017143;
}

.social-media {
    position: absolute;
    right: 410px;
    top: 200px;
}

.social-media img {
    display: block;
    width: 20px;
    margin: 20px 0px;
}

.texto-sobre {
    margin-top: 100px;
}

.texto-sobre h1 {
    font-size: 50px;
}

.texto-sobre p {
    max-width: 800px;
    font-size: 18px;
    color: grey;
    margin: 20px 0; 
}

.texto-sobre button {
    border: 0;
    background-color: #017143;
    color: white;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    cursor: pointer;
}

.roda-pe {
    position: absolute;
    top: 87%;
    right: 50%;
}

.icons-final img {
    width: 70px;
    margin: 0 30px; 
}
